layout {

    focus-ring {
        active-color   "#b47109"
        inactive-color "#f9f5d7"
        urgent-color   "#c14a4a"
    }

    border {
        active-color   "#b47109"
        inactive-color "#f9f5d7"
        urgent-color   "#c14a4a"
    }

    tab-indicator {
        active-color   "#b47109"
        inactive-color "#f3eac7"
        urgent-color   "#c14a4a"
    }

    insert-hint {
        color "#b4710980"
    }

    background-color "transparent"
    shadow {
        color "#00000070"
    }
}

recent-windows {
    highlight {
        active-color "#b47109"
        urgent-color "#c14a4a"
    }
}
