palette = '{{ get . "theme" | default "tokyonight" }}'

format = """
$os\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$fill\
$time\
$battery\
\n$character"""

[fill]
symbol = " "
style = "bg:surface"

[directory]
style = "fg:dir_fg bg:blue"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:panel"
format = '[[ $symbol $branch ](fg:blue bg:panel)]($style)'

[git_status]
style = "bg:panel"
format = '[[($all_status$ahead_behind )](fg:blue bg:panel)]($style)'

[cmd_duration]
style = "bg:panel"
format = "[ $duration ]($style)"

[battery]
full_symbol = "•"
charging_symbol = "⇡"
discharging_symbol = "⇣"

[time]
disabled = false
time_format = "%r"
style = "bg:time_bg"
format = "[   $time ]($style)"

[os]
style = "bg:os_bg fg:os_fg"
format = "[ $symbol ]($style)"
disabled = false

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

# ------------ theme ------------
[palettes.tokyonight]
surface = "#212736"
fg = "#e3e5e5"
dir_fg = "#e3e5e5"
blue = "#769ff0"
panel = "#394260"
time_bg = "#1d2230"
os_bg = "#a3aed2"
os_fg = "#090c0c"

# gruvbox-material-dark
[palettes.gruvbox-dark]
surface = "#282828"
fg = "#ddc7a1"
dir_fg = "#1d2021"
blue = "#7daea3"
panel = "#32302f"
time_bg = "#141617"
os_bg = "#d8a657"
os_fg = "#1d2021"
